.box {
    display: flex;
}

.box div {
    flex: 1;
    font-size: x-large;
    text-align: center;
    background-color: rgb(156, 90, 90);
}

.box img{
    height: 200px;
    flex: 1;
}

a{
    padding: 10pt;
}
